.stack > *:not(.active) {
  display: none;
}
ul {
  list-style: none;
}
.content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
a {
  color: #fff;
  text-decoration: none;
}
html,
body {
  background-color: #f2f2f2;
  font-family: "Merriweather";
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
html #headerController,
body #headerController {
  width: 100%;
  background-color: #1f1f1f;
  height: 200px;
  padding: 0px;
  margin: 0px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}
html #headerController .content,
body #headerController .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 63px 83px 63px 83px;
  position: relative;
  z-index: 0;
}
html #headerController .content .hackInfo,
body #headerController .content .hackInfo {
  position: absolute;
  bottom: 50px;
  left: 80px;
}
html #headerController .content .hackInfo h1,
body #headerController .content .hackInfo h1 {
  font-size: 40px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: 200;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.20);
}
html #headerController .content .hackInfo p,
body #headerController .content .hackInfo p {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans";
  font-weight: 600;
}
html #headerController .content .hackInfo img,
body #headerController .content .hackInfo img {
  position: relative;
  top: 6px;
  left: 10px;
}
html #headerController .content .left,
body #headerController .content .left {
  float: left;
}
html #headerController .content .right,
body #headerController .content .right {
  float: right;
  margin-top: 15px;
}
html #headerController .content .nav,
body #headerController .content .nav {
  font-family: "Open Sans";
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  margin-right: 20px;
  font-size: 12px;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.20);
}
html #headerController .bottom,
body #headerController .bottom {
  background-color: #f2f2f2;
  width: 1170px;
  height: 25px;
  position: relative;
  top: -25px;
  margin-left: auto;
  margin-right: auto;
}
html #footerController,
body #footerController {
  width: 100%;
  background-color: #1f1f1f;
  height: 98px;
  color: #fff;
}
html #footerController .content,
body #footerController .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px 83px 25px 83px;
}
html #footerController .left,
body #footerController .left {
  float: left;
}
html #footerController .right,
body #footerController .right {
  float: right;
  margin-top: 11px;
}
html #footerController .right span,
body #footerController .right span,
html #footerController .right a,
body #footerController .right a {
  color: #9e9e9e;
  font-weight: 700;
  font-family: "Open Sans";
  font-size: 10px;
}
html #footerController .nav,
body #footerController .nav {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  margin-right: 20px;
  font-size: 12px;
}
html .eventsController,
body .eventsController {
  z-index: 0;
}
html .eventsController >.content,
body .eventsController >.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  padding: 63px 100px 0px 100px;
  text-align: center;
}
html .eventsController >.content h2,
body .eventsController >.content h2,
html .eventsController >.content h1,
body .eventsController >.content h1 {
  font-weight: 200;
}
html .eventsController >.content p,
body .eventsController >.content p {
  margin-left: auto;
  margin-right: auto;
  width: 642px;
  font-size: 12px;
}
html .eventsController >.content .button,
body .eventsController >.content .button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #1f1f1f;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 15px 20px 15px 20px;
  color: #fff;
  width: 235px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  cursor: pointer;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 17px;
}
html .eventsController >.content .button:hover,
body .eventsController >.content .button:hover {
  background-color: #000;
}
html .eventsController >.content ul,
body .eventsController >.content ul {
  padding: 40px 0px;
  width: 100%;
}
html .eventsController >.content ul li,
body .eventsController >.content ul li {
  width: 240px;
  display: inline-block;
  vetical-align: top;
  text-align: center;
  padding: 0px;
  margin: 20px 40px 72px 40px;
}
html .eventsController >.content ul li img,
body .eventsController >.content ul li img {
  margin: 0px 0px 10px 0px;
  padding: 0px;
}
html .eventsController >.content ul li h2,
body .eventsController >.content ul li h2 {
  font-size: 34px;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  width: 100%;
}
html .eventsController >.content ul li p,
body .eventsController >.content ul li p {
  font-size: 12px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans";
}
html .aboutController,
body .aboutController {
  z-index: 0;
}
html .aboutController >.content,
body .aboutController >.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  padding: 70px 100px 140px 100px;
  text-align: center;
}
html .aboutController >.content h2,
body .aboutController >.content h2,
html .aboutController >.content h1,
body .aboutController >.content h1 {
  font-weight: 200;
  font-size: 32px;
  margin-bottom: 10px;
}
html .aboutController >.content p,
body .aboutController >.content p {
  margin-left: auto;
  margin-right: auto;
  width: 642px;
  font-size: 12px;
  font-family: "Open Sans";
  line-height: 18px;
}
html .aboutController >.content img,
body .aboutController >.content img {
  margin: 50px 0px 35px 0px;
}
html .aboutController >.content .section,
body .aboutController >.content .section {
  width: 660px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
html .aboutController >.content .section h3,
body .aboutController >.content .section h3 {
  font-size: 18px;
  font-family: "Merriweather";
  font-weight: 400;
  margin-bottom: 10px;
}
html .aboutController >.content .section p,
body .aboutController >.content .section p {
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  margin: 0px 0px 30px 0px;
  padding: 0px;
  font-family: "Open Sans";
}
html .aboutController .lower,
body .aboutController .lower {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #1f1f1f;
  height: 390px;
  width: 100%;
  color: #fff;
}
html .aboutController .lower .orginize,
body .aboutController .lower .orginize {
  text-align: center;
  width: 600px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}
html .aboutController .lower .orginize h2,
body .aboutController .lower .orginize h2 {
  font-weight: 100;
  font-size: 40px;
}
html .aboutController .lower .orginize p,
body .aboutController .lower .orginize p {
  font-weight: 100;
  font-size: 18px;
}
html .HowToController,
body .HowToController {
  z-index: 0;
}
html .HowToController >.content,
body .HowToController >.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  padding: 70px 100px 140px 100px;
  text-align: center;
}
html .HowToController >.content a,
body .HowToController >.content a {
  font-weight: 900;
}
html .HowToController >.content h2,
body .HowToController >.content h2,
html .HowToController >.content h1,
body .HowToController >.content h1 {
  font-weight: 200;
  font-size: 32px;
  margin-bottom: 10px;
}
html .HowToController >.content p,
body .HowToController >.content p {
  margin-left: auto;
  margin-right: auto;
  width: 642px;
  font-size: 12px;
  font-family: "Open Sans";
  line-height: 18px;
}
html .HowToController >.content img,
body .HowToController >.content img {
  margin: 50px 0px 35px 0px;
}
html .HowToController >.content .section,
body .HowToController >.content .section {
  width: 660px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
html .HowToController >.content .section h2,
body .HowToController >.content .section h2 {
  font-size: 18px;
  font-family: "Merriweather";
  font-weight: 400;
  margin-bottom: 10px;
}
html .HowToController >.content .section p,
body .HowToController >.content .section p {
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  margin: 0px 0px 30px 0px;
  padding: 0px;
  font-family: "Open Sans";
}
html .HowToController >.content .section a,
body .HowToController >.content .section a {
  color: #000;
}
html .HowToController >.content .section .subsection h3,
body .HowToController >.content .section .subsection h3 {
  font-size: 15px;
  font-family: "Merriweather";
  font-weight: 400;
  margin-bottom: 10px;
}
html .HowToController >.content .section .subsection p,
body .HowToController >.content .section .subsection p {
  margin: 0px 0px 10px 0px;
  font-size: 12px;
}
html .hacksController,
body .hacksController {
  z-index: 0;
  text-align: center;
}
html .hacksController >.content,
body .hacksController >.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  padding: 70px 100px 140px 100px;
  text-align: center;
}
html .hacksController >.content h2,
body .hacksController >.content h2,
html .hacksController >.content h1,
body .hacksController >.content h1 {
  font-weight: 200;
}
html .hacksController >.content p,
body .hacksController >.content p {
  margin-left: auto;
  margin-right: auto;
  width: 642px;
  font-size: 12px;
}
html .hacksController >.content ul,
body .hacksController >.content ul {
  padding: 0px;
  width: 930px;
  margin-top: 95px;
}
html .hacksController >.content ul li,
body .hacksController >.content ul li {
  width: 100%;
  margin-right: 90px;
  text-align: left;
  margin-bottom: 40px;
  position: relative;
}
html .hacksController >.content ul li img,
body .hacksController >.content ul li img {
  margin: 0px 20px 0px 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
  width: 300px;
}
html .hacksController >.content ul li p.photoCredit,
body .hacksController >.content ul li p.photoCredit {
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 10px;
  color: #fff;
}
html .hacksController >.content ul li .info,
body .hacksController >.content ul li .info {
  display: inline-block;
  vertical-align: top;
  height: 214px;
  overflow-y: hidden;
  text-overflow: ellipsis;
  position: realtive;
}
html .hacksController >.content ul li .info h2,
body .hacksController >.content ul li .info h2 {
  font-size: 13px;
  font-weight: 600;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  width: 100%;
}
html .hacksController >.content ul li .info p,
body .hacksController >.content ul li .info p {
  font-size: 12px;
  width: 580px;
  line-height: 20px;
  font-family: "Open Sans";
}
html .hacksController >.content ul li .info a,
body .hacksController >.content ul li .info a {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #1f1f1f;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  width: 90px;
  height: 24px;
  right: 32px;
  cursor: pointer;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 2px;
  font-size: 12px;
  bottom: 13px;
  text-align: center;
}
html .hacksController >.content ul li .info a:hover,
body .hacksController >.content ul li .info a:hover {
  background-color: #000;
}
html .hackShowController,
body .hackShowController {
  z-index: 0;
}
html .hackShowController >.content,
body .hackShowController >.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  padding: 70px 100px 140px 100px;
  text-align: center;
}
html .hackShowController >.content h2,
body .hackShowController >.content h2,
html .hackShowController >.content h1,
body .hackShowController >.content h1 {
  font-weight: 200;
  font-size: 32px;
  margin-bottom: 10px;
}
html .hackShowController >.content p,
body .hackShowController >.content p {
  margin-left: auto;
  margin-right: auto;
  width: 642px;
  font-size: 12px;
  font-family: "Open Sans";
  line-height: 18px;
  margin-top: -5px;
  padding: 0px;
}
html .hackShowController >.content img,
body .hackShowController >.content img {
  margin: 50px 0px 35px 0px;
  width: 970px;
}
html .hackShowController >.content .section,
body .hackShowController >.content .section {
  width: 660px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
html .hackShowController >.content .section h3,
body .hackShowController >.content .section h3 {
  font-size: 18px;
  font-family: "Merriweather";
  font-weight: 400;
  margin-bottom: 10px;
}
html .hackShowController >.content .section p,
body .hackShowController >.content .section p {
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  margin: 0px 0px 30px 0px;
  padding: 0px;
  font-family: "Open Sans";
}
